body {
    background-color: #f5f5f5; 
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: #005A8B; 
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
}

nav {
    line-height: 30px;
    background-color: #ffffff;
    color: #005A8B; 
    height: auto;
    width: 20%;
    float: left;
    padding: 10px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

section {
    width: calc(100% - 20%);
    float: left;
    padding: 10px;
    color: #333333;
    text-align: center;
    font-size: 20px;
}

img {
    width: 130px; 
    height: 130px; 
    border-radius: 10px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #005A8B; 
    color: #ffffff;
    clear: both;
    text-align: center;
    padding: 10px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    nav {
        width: auto;
        height: auto;
        font-size: 20px;
        text-align: center;
        float: none;
    }

    section {
        width: 100%;
        padding: 10px 20px;
        font-size: 18px;
    }

    img {
        width: 80px; 
        height: 80px; 
    }
}
